
#noticeMe_modal
  h2
    font-size: 24px

  .widget-subsection
    background: #f4f5f5

    &:first-of-type
      padding-bottom: 0
      background: #fff
      border-color: #f4f5f5

  .noticeMe_nav
    margin-bottom: -1px
    text-align: center

    a
      display: inline-block
      padding: .25em .5em
      margin: 0 .5em
      font-size: 1.5rem
      border-radius: 4px 4px 0 0
      background: #fff
      text-decoration: none

      &:hover, &.active
        background: #f4f5f5

      &:first-child
        margin-left: 0
      &:last-child
        margin-right: 0