@font-face
    font-family: 'Goudy Bookletter';
    src: url('fonts/gbl/Chunkfive-webfont.eot');
    src: url('fonts/gbl/GoudyBookletter1911.otf') format('opentype'),
         url('fonts/gbl/Chunkfive-webfont.woff') format('woff'),
         url('fonts/gbl/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/gbl/Chunkfive-webfont.svg') format('svg');

@font-face
    font-family: 'Chunk';
    src: url('fonts/chunk/Chunkfive-webfont.eot');
    src: url('fonts/chunk/Chunk.otf') format('opentype'),
         url('fonts/chunk/Chunkfive-webfont.woff') format('woff'),
         url('fonts/chunk/Chunkfive-webfont.ttf') format('truetype'),
         url('fonts/chunk/Chunkfive-webfont.svg') format('svg');