.noticeMe_nav
  a.messages.active(href='#')  Profile Msgs
  a.mentions(href='#')  Mentions
  a.comments(href='#')  Comments
  a.follows(href='#')   + Followers
  a.groups(href='#')    Groups
  a.props(href='#')     Props
  a.duels(href='#')     Duels