/*
*
*    Simple fluid media
*
*/
figure
    position    relative

    img
    object
    embed
    video
        max-width   100%
        display     block

img
    border  0
    -ms-interpolation-mode  bicubic
